S3method(plot,RV)
S3method(print,RV)
S3method(qqnorm,RV)
export(E)
export(KURT)
export(P)
export(SD)
export(SKEW)
export(SofI)
export(SofIID)
export(V)
export(as.RV)
export(make.RV)
export(mult)
export(multN)
export(probs)
